name: Build e Release Automático

on: workflow_dispatch

jobs:
  build:
    name: Build em ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Configurar Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Instalar Dependências do Sistema (Linux)
      if: runner.os == 'Linux'
      run: sudo apt update && sudo apt install -y python3-full

    - name: Instalar Dependências Python
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyinstaller

    - name: Rodar Testes (Garantia de Qualidade)
      run: python git_test.py
    
    - name: Criar Executável com PyInstaller
      # --onefile: Cria um arquivo único (sem pastas)
      # --windowed: Não abre a tela preta do terminal ao fundo
      # --name: Nome do arquivo final
      run: |
        pyinstaller --onefile --windowed --name "OrcamentoFuzzy" main.py

    - name: Upload do Executável (Artifact)
      uses: actions/upload-artifact@v4
      with:
        name: PyGraphUzz-${{ runner.os }}
        path: dist/